#centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

body {
    display: flex;

}

.parteDos {
    width: 30%;
    height: 100vh;
    background-color: silver;
}

.principalP {
    width: 85%;
    height: 500px;
    background-color: white;
    margin: 10px;
}

.tarjetauno {
    width: 85%;
    height: 150px;
    background-color: white;
    margin: 10px;
}

.tarjetados {
    width: 85%;
    height: 150px;
    background-color: white;
    margin: 10px;
}